* {
    box-sizing: border-box;
}

body {
    background-color: #CCC;
}

h1, #hero-description {
    text-align: center;
    font-family: Impact, "Haettenschweiler", 'Arial Narrow Bold', sans-serif;
}

#img-caption {
    font-size: small;
    text-align: center;
}

#image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#tribute-info, #trib-link-section, #hero-section, #blockquote-div {
    margin-top: 5%;
    border: 15px solid red;
    border-radius: 1%;
    background-color: gold;
    text-align: center;
    max-width: 100%;
}

ul {
    text-decoration: none;
}

#headline {
    text-align: center;
}

#time, #scored {
    font-weight: bold;
}

#time {
    margin-right: 2.5%;
}

#scored {
    margin-left: 2.5%;
}

blockquote > p {
    font-size: 30px;
    text-align: center;
}

cite {
    font-weight: bold;
}

li {
    margin-top: 3%;
}

ul {
    list-style: none;
}